ul{
  list-style: none;
  }
.panel{
  background-color: #fff;
  border: solid 1px #cecece;
  border-radius: 10px;
  padding: 20px;
}
.panel__header--icon{
  text-align: center;
  padding-bottom: 10px;
}
.panel__header--text{
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}
.panel__contents--text{
  font-size: 16px;
  padding-bottom: 20px;
}
.panel__footer{
  font-size: 14px;
}
.belt{
  min-width: 960px;
  background-color: #eee;
}
.belt__container{
  width:960px
  padding:30px 0;
}
@media(max-width:767px) {
  .belt__container{
    padding:50px;
  }
  .panel{
    padding-bottom: 20px;
  }
  .panl__header{
    display:flex;
    align-items: center;
  }
.panel__header--icon{
  width: 60px;
  height:60px;
  padding-right:30px;
}
}
